body {
  font-family: Roboto, Geneva, serif;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

canvas {
  display: block;
  height: 100vh !important;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.masthead-container {
  background: linear-gradient(#9198e5, #e66465);
  background-size: cover;
  height: 100vh;
  color: white;
  font-size: 52px;
  font-weight: 100;
  text-align: center;
  padding-top: 30px;
  z-index: -2;
}

@media screen and (max-width: 800px) {
  .masthead-container {   
    font-size: 25px;
    /* line-height: normal; */
  }
}