.portfolio {
  flex: 80%;
  padding: 15px;
}

h2 {
  /* margin-left: 25%; */
  margin-top: 0px;
  color: #032733;
  font-size: 2.5em;
  padding-top: 35px;
  letter-spacing: 1px;
  font-weight: bold;
}