.slideshow-container {
  position: relative;
  margin: auto;
  width: 600px;
  height: 450px;
  border: 3px solid lightgray;
  border-radius: 10px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  border-radius: 5px;
  height: 100%;
  /* max-height: 550px; */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 3px;
}

.next {
  right: 3px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a5a9af;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 800px) {
  .slideshow-container {   
      height: auto;
      width: auto;
      min-width: 400px;
      min-height: 280px;
  }
}